/* フッター */
footer {
  background-color: #302833;
  padding: 10px 50px 20px 50px;
}

.footer-items {
  height: 70px;
  color: white;
}

.information {
  list-style: none;
  text-align: center;
}

.copylight {
  text-align: center;
}