/* ヘッダー */
header {
  background-color: #eaf4fc;
  width: 100vw;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.heading-left {
  width: 50%;
  margin-left: 20px;
}

.title-logo {
  color: #17184b;
  font-size: 35px;
  text-align: left;
}

.heading-right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

/* 会員登録 */
.log-situation0 {
  background-color: #17184b;
  width: 80px;
  padding-top: 7px;
  margin: 0 5px;
  text-align: center;
  color: gray;
  font-size: 13px;
  border: solid 1px #eaf4fc;
  border-radius: 30px;
}

/* ログイン */
.log-situation1 {
  width: 80px;
  padding-top: 7px;
  margin: 0 5px;
  text-align: center;
  color: #c0c0c0;
  font-size: 13px;
  border: solid 1px #c0c0c0;
  border-radius: 30px;
}

/* ログアウト */
.log-situation2 {
  width: 80px;
  padding-top: 7px;
  margin: 0 5px;
  text-align: center;
  color: #c0c0c0;
  font-size: 13px;
  border: solid 1px #c0c0c0;
  border-radius: 30px;
}

.new-post {
  background-color: aqua;
  height: 50px;
  width: 80px;
  padding-top: 5px;
  margin: 0 5px;
  text-align: center;
  color: gray;
  font-size: 13px;
  border: solid 1px white;
  border-radius: 30px;
}

.menu-icon {
  height: 50px;
  width: 30px;
  padding-top: 8px;
  margin: 0 10px 0 5px;
  text-align: center;
  color: white;
  font-size: 20px;
  border: solid 1px white;
}