/* ヘッダー */
header {
  background-color: #eaf4fc;
  width: 100vw;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-left {
  width: 50%;
  margin-left: 20px;
}

.title-logo {
  color: #17184b;
  font-size: 35px;
  text-align: left;
}

.heading-right {
  width: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* ユーザー名 */
.greeting {
  color: gray;
  font-size: 13px;
}

.user-my-page {
  color: #165e83;
  border-bottom: 1px solid gray;
  font-size: 20px;
}

/* 会員登録 */
.log-situation0 {
  background-color: #17184b;
  width: 80px;
  padding-top: 7px;
  margin: 0 5px;
  text-align: center;
  color: gray;
  font-size: 13px;
  border: solid 1px #eaf4fc;
  border-radius: 30px;
  box-shadow: 1px 1px 1px gray;
}

/* ログイン */
.log-situation1 {
  width: 80px;
  padding-top: 7px;
  margin: 0 5px;
  text-align: center;
  color: #c0c0c0;
  font-size: 13px;
  border: solid 1px #c0c0c0;
  border-radius: 30px;
  box-shadow: 1px 1px 1px gray;
}

/* ログアウト */
.log-situation2 {
  height: 50px;
  width: 80px;
  padding-top: 5px;
  margin: 0 5px;
  text-align: center;
  color: #c0c0c0;
  font-size: 13px;
  border: solid 1px #c0c0c0;
  border-radius: 30px;
  box-shadow: 1px 1px 1px gray;
}

/* 投稿するボタン */
.new-post {
  background-color: #2792c3;
  color: #eaf4fc;
  height: 50px;
  width: 80px;
  padding-top: 5px;
  margin: 0 5px;
  margin-right: 10px;
  text-align: center;
  font-size: 13px;
  border-radius: 30px;
  box-shadow: 1px 1px 1px gray;
}

/* メニュー */
.header-menu {
  position: relative;
}

.menu-icon {
  color: white;
  font-size: 50px;
  text-shadow: 1px 1px 1px gray;
}

.menu-lists {
  position: absolute;
  top: 90%;
  right: 30%;
  width: max-content;
  min-height: 100px;
  white-space: nowrap;
  display: none;
  background: #c1e4e9;
  padding: 4px 15px;
  z-index: 10;
}

.menu-list {
  color: #17184b;
  border-bottom: 1px solid gray;
}