<%= render "shared/header" %>
<div class="contact-main">

  <div class="contact-contents">
    <h2>お問い合わせ</h2>
いつも 者-モノ-語り をご利用いただき、誠にありがとうございます。
本アプリに関するご意見・ご質問などは、以下のメールアドレスまでご連絡ください。
<span class="info-1"> ※ご連絡の前に、以下の注意点をお守りいただきますようお願い申し上げます。</span>

　ー　メールの送信は、本アプリに会員登録されたアドレスからお願いいたします。
　ー　件名：「者-モノ-語り」の問い合わせ
　ー　現在のニックネーム
　ー　お問い合わせ内容本文の記載

✉️ お問い合わせ先：mono-gatari@example.com
（こちらは試作アプリのためダミーのアドレスになります）

ご返信には最長5営業日ほどお時間をいただく場合がございます。
恐れ入りますが、何卒ご了承のほどお願い申し上げます。
  </div>

</div>
<%= render "shared/footer" %>