/* メイン */
.confirm-withdraw-main {
  background-color: #bbc8e6;
}

.confirm-withdraw-area {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.retired-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.retired-explanation {
  font-size: 18px;
  line-height: 2.0;
  margin-bottom: 50px;
}

.btn-danger {
  width: 150px;
  padding: 5px;
  margin-right: 50px;
  margin-bottom: 20px;
  color: #595857;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid gray;
}

.btn-secondary {
  font-size: 18px;
  border-bottom: 1px solid gray;
}