/* メイン */
.user-show-main {
  background: linear-gradient(to bottom, #17184b, #274a78);
}

.main-contents {
  display: flex;
}

/* サイドバー */
.my-page-sidebar {
  width: 200px;
  flex-shrink: 0;
}

/* 右側のコンテンツ箱 */
.my-page-right-contents {
  width: calc(100% - 200px);
  margin-right: 120px;
}

/* プロフィール */
.profile-content {
  height: 300px;
  margin-top: 20px;
  padding: 10px;
  border: 3px solid gray;
  border-radius: 10px;
}

.user-info {
  display: flex;
}

.follow-area {
  display: flex;
  border-bottom: 1px solid gray;
}

.follow-btn {
  margin: 10px;
  padding: 3px 10px;
  background-color: aqua;
  color: gray;
  border-radius: 30px;
  border-style: none;
}

/* そのユーザーが投稿したストーリー一覧 */
.user-index-contents {
  margin-top: 20px;
  margin-bottom: 50px;
}

.my-one-content {
  margin-bottom: 20px;
  color: gray;
  border: solid 1px gray;
  border-radius: 10px;
}