/* メイン */
.user-show-main {
  background-color: #2792c3;
}

.main-contents {
  padding-top: 20px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 50px;
}

/* プロフィール */
.profile-content {
  height: 500px;
  margin-top: 20px;
  padding: 10px;
  border: 3px solid #eaf4fc;
  border-radius: 10px;
  color: #eaf4fc;
}

.user-info {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.my-page-contributor-name {
  padding-left: 10px;
  font-size: 25px;
}

.setting {
  font-size: 25px;
  color: #eaf4fc;
  text-shadow: 2px 1px 3px #17184b;
}

.follow-area {
  display: flex;
  justify-content: left;
  border-bottom: 1px solid #eaf4fc;
}

.follow-btn {
  margin: 10px;
  padding: 3px 10px;
  color: gray;
  border-radius: 30px;
  border-style: none;
}

.profile-sentence {
  height: 400px;
  overflow-y: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}


/* そのユーザーが投稿したストーリー一覧 */
.user-summary-story {
  margin-top: 20px;
  margin-bottom: 50px;
}

.my-one-content {
  border: solid 1px #eaf4fc;
  border-radius: 10px;
  color: #eaf4fc;
  padding: 5px;
  margin-bottom: 20px;
}
