/* メイン */
.index-main {
  background: linear-gradient(to bottom, #17184b, #274a78);
}

/* カテゴリーバー */
.categorybar {
  background: #274a78;
  padding: 5px 20px;
}

.category-lists {
  display: flex;
  justify-content: space-around;
}

.category-list {
  color: #eaf4fc;
  font-size: 20px;
  list-style: none;
}

/* ストーリー配置 */
.index-contents {
  margin-top: 50px;
  padding-bottom: 100px;
  margin-left: 200px;
}

/* 1つの新着ストーリー */
.one-content {
  width: calc(100% - 120px);
  margin-bottom: 20px;
  color: gray;
  border: solid 1px gray;
  border-radius: 10px;
}

/* ストーリーアイテム */
.index-story-item {
  display: flex;
  justify-content: space-between;
}

/* タグ箱：カテゴリー、ジャンル */
.index-story-item1 {
  display: flex;
}

/* その他情報箱：文字数、日付 */
.index-story-item2 {
  display: flex;
}

/* タイトル、本文 */
.index-story-main {
  padding-top: 5px;
}