/* メイン */
.new-main {
  background-color: #c1e4e9;
  padding-top: 20px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 50px;
}



/* 選択エリア */
.top-area {
  display: flex;
}

.choice-area {
  width: 80%;
  display: flex;
  color: #595857;
}

.select-box {
  color: #595857;
}

.count-now {
  width: 20%;
  text-align: end;
  color: #595857;
}

/* カテゴリー選択 */
.category-choice {
  margin: 5px;
  margin-right: 20px;
}

/* プルダウン */
.select-box {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  border: 1px solid gray;
}

/* ジャンル選択 */
.genre-choice {
  margin: 5px;
  margin-right: 20px;
}

/* 文字数表示 */
.count-now {
  margin: 5px;
  margin-left: 50px;
  padding-top: 8px;
}

/* 入力エリア */
.input-area {
  padding-bottom: 50px;
  color: #595857;
}

/* 文字数注意書き */
.information {
  font-size: 13px;
}

.input-title {
  margin-top: 15px;
}

.input-text {
  margin-top: 30px;
}

.f-input-title {
  height: 40px;
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 15px;
  color: #595857;
}

.f-input-text {
  width: 100%;
  margin-top: 5px;
  padding: 15px;
  overflow-y: auto;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 15px;
  color: #595857;
}

/* 確認エリア */
.post-confirm-area {
  margin-bottom: 50px;
  padding: 5px;
}

.post-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-btn {
  width: 150px;
  padding: 5px;
  margin-right: 50px;
  color: #595857;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid gray;
}

.draft-index a {
  color: #17184b;
  text-decoration: underline;
  text-shadow: 1px 1px 3px #eaf4fc;
}

.field-error {
  border: 2px solid red;
  background-color: #fff0f0;
}