/* メイン */
.show-main {
  background: linear-gradient(to bottom, #17184b, #274a78);
}

.main-contents {
  display: flex;
}

/* サイドバー */
.sidebar {
  width: 200px;
  flex-shrink: 0;
}

/* ストーリー配置 */
.show-right-contents {
  width: calc(100% - 200px);
  margin-right: 120px;
}

.show-story-content {
  margin-top: 30px;
  border: 1px solid gray;
  border-radius: 10px;
}

/* ストーリーアイテム */
.show-story-item {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

/* タグ箱：カテゴリー、ジャンル */
.show-story-item1 {
  display: flex;
}

/* その他情報箱：文字数、日付、詳細メニュー */
.show-story-item2 {
  display: flex;
}

/* タイトル、本文 */
.show-story-main {
  min-height: 700px;
  padding: 10px;
  overflow-y: auto;
}

.show-story-title {
  margin-left: 10px;
  margin-right: 5px;
  border-bottom: 1px solid gray;
  font-size: 20px;
}

.show-story-text {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
}

.detail {
  position: relative;
}

.detail_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  white-space: nowrap;
  display: none;
  background: #c1e4e9;
  border: 1px solid #ccc;
  padding: 4px 8px;
  z-index: 10;
}


.fun-content {
  display: flex;;
}

/* リアクション欄 */
.reaction-lists {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.reaction.active {
  color: yellow;
  font-weight: bold;
}

.bookmark-content {
  background-color: aqua;
  width: 50%;
}


/* コメント送信欄 */
.comment-content {
  background-color: plum;
  min-height: 200px;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 5px 10px 5px 5px;
}

.f-input-comment {
  height: 40px;
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 15px;
}

.post-comment-btn {
  height: 40px;
  width: 70px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 13px;
}

/* コメント欄 */
.all-comments {
  margin-top: 10px;
}

.one-comment {
  border-bottom: 1px solid gray;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.one-comment-info {
  display: flex;
}

.comment-delete {
  position: relative;
}

.comment-action-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  white-space: nowrap;
  display: none;
  background: #c1e4e9;
  border: 1px solid #ccc;
  padding: 4px 8px;
  z-index: 10;
}