/* メイン */
.show-main {
  background: linear-gradient(to bottom, #17184b, #507ea4);
}

.show-main-contents {
  width: calc(100% - 200px);
  padding-top: 50px;
  margin-left: 120px;
  margin-right: 120px;
  padding-bottom: 100px;
}

/* 投稿者名 */
.user-name-link, .retired-user {
  color: #eaf4fc;
  font-size: 20px;
  border-bottom: 1px solid gray;
}

.retired-user-name {
  color: gray;
  font-size: 20px;
  border-bottom: 1px solid gray;
}

.user-name-sub {
  color: #eaf4fc;
  font-size: 15px;
}

/* ストーリー配置 */
.show-story-content {
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  color: #eaf4fc;
}

/* ストーリーアイテム */
.show-story-item {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

/* タグ箱：カテゴリー、ジャンル */
.show-story-item1 {
  display: flex;
}

/* その他情報箱：文字数、日付、詳細メニュー */
.show-story-item2 {
  display: flex;
}

.show-character-count {
  margin: 5px;
}

.show-story-main {
  min-height: 700px;
  padding: 10px;
}

.show-post-date {
  margin: 5px;
  margin-right: 20px;
}

/* タイトル本文 */
.show-story-title {
  margin-left: 10px;
  margin-right: 5px;
  border-bottom: 1px solid gray;
  font-size: 20px;
}

.show-story-text {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  white-space: pre-wrap;
}

/* 編集削除メニュー */
.story-menu {
  position: relative;
}

.story-menu-icon {
  display: block;
  margin-top: 5px;
  text-shadow: 1px 1px 3px yellowgreen;
}

.story-menu-lists {
  position: absolute;
  top: 100%;
  right: 0%;
  width: max-content;
  white-space: nowrap;
  display: none;
  background-color: #c1e4e9;;
  padding: 0 8px 8px 8px;
  z-index: 10;
  box-shadow: 2px 2px 3px #eaf4fc;
}

.story-menu-list {
  color: #17184b;
  border-bottom: 1px solid gray;
  margin-top: 10px;
}


.action-contents {
  display: flex;
}

/* リアクション欄 */
.reaction-lists {
  width: 50%;
  display: flex;
  justify-content: space-around;
  color: #eaf4fc;
}

.one-reaction {
  padding: 5px;
  text-shadow: 3px 3px 20px #f2f2b0;
}

.reaction.active {
  color: #fef263;
}

/* 積読欄 */
.bookmark-content {
  margin-right: 20px;
  width: 50%;
  display: flex;
  justify-content: right;
}

.save-bookmark {
  border-style: none;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 1px 1px 2px black;
}


/* コメント送信欄 */
.please-login {
  color: gray;
}

.comment-content {
  background-color: #eaf4fc;
  border-radius: 10px;
  min-height: 200px;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 20px 10px 10px 5px;
}

.send-comment {
  width: 100%;
  display: flex;
  gap: 5px;
}

.f-input-comment {
  flex: 1; 
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 15px;
}

.post-comment-btn {
  width: 80px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 13px;
}

/* コメント欄 */
.all-comments {
  margin-top: 10px;
  color: gray;
}

.one-comment {
  border-bottom: 1px solid gray;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.one-comment-info {
  display: flex;
}

.comment-post-date {
  margin-right: 10px;
}

/* 削除メニュー */
.comment-delete {
  position: relative;
}

.comment-menu-icon {
  color: #17184b;
  text-shadow: 1px 1px 3px gray;
}

.comment-menu-lists {
  position: absolute;
  top: 100%;
  right: 0%;
  width: max-content;
  white-space: nowrap;
  display: none;
  background-color: #c1e4e9;
  padding: 4px 8px;
  z-index: 10;
  box-shadow: 3px 3px 5px gray;
}

.comment-menu-list {
  color: #17184b;
  margin-top: 5px;
  margin-bottom: 5px;
}