/* トップページ */
.index-category-tag {
  background-color: #f2f2b0;
  padding: 0 5px;
  padding-top: 3px;
  border-radius: 5px;
  margin: 5px 0 5px 5px;
  padding: 5px,8px;
  font-size: 13px;
}

.index-genre-tag {
  background-color: #f8e58c;
  padding: 0 5px;
  padding-top: 3px;
  border-radius: 5px;
  margin: 5px 5px 5px 2px;
  padding: 5px,8px;
  font-size: 13px;
}


.index-character-count {
  margin: 5px;
}

.index-post-date {
  margin: 5px;
}

/* 詳細ページ */
.show-category-tag {
  background-color: #f2f2b0;
  padding: 5px 10px;
  padding-top: 5px;
  border-radius: 5px;
  margin: 5px;
  font-size: 13px;
}

.show-genre-tag {
  background-color: #f8e58c;
  padding: 5px 10px;
  padding-top: 5px;
  border-radius: 5px;
  margin: 5px;
  font-size: 13px;
}

.show-character-count {
  margin: 5px;
}

.show-post-date {
  margin: 5px;
}

.detail {
  margin: 5px;
  margin-right: 10px;;
}